%h1 Modulo Ropa Limpia
%p
%ol
  %li=link_to 'Ingresar Ropa Limpia', home_register_clean_cloths_path
  %li=link_to 'Eviar Carro de Ropa', '#'
  %li=link_to 'Reirar Ropa Defectuosa', '#'
%p=link_to 'Back', root_path