%h1 Sistema de Inventario de Lavanderia
%p
%ol
  %li=link_to 'Modulo Ropa Sucia', home_dirty_cloth_menu_path
  %li=link_to 'Modulo Ropa Limpia', home_clean_cloth_menu_path
  %li=link_to 'Administracion', admin_root_path
