// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tableContainer {
  height: 400px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
#tableContainerLista {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
tr{
  height:  15px;
}
tbody{
}

.span12 {
margin-top: 40px;
}